@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-image: url(/images/dat.png);
  text-align: center;
  font-family: 'Open Sans', 'DejaVu Sans', 'Liberation Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: grey;
  font-size: 17px;
}

a { color: #848484; }
a:visited { color: #5C5C5C; } 

main {
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 20px;
}

.fmoli a { color: #008000; }
.fmoli a:visited { color: #507050; }
